<button mat-button (click)="openAddTaskDialog()">Add Task</button>
<div class="flex-grid">
  <div class="col">
    <h2>To Do</h2>
    <div cdkDropList id='0' #todoList="cdkDropList" [cdkDropListData]="toDoTasks"
      [cdkDropListConnectedTo]="[inProgressList, doneList]" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of toDoTasks" cdkDrag>
        <app-task-card [task]='task'></app-task-card>
      </div>
    </div>
  </div>

  <div class="col">
    <h2>In Progress</h2>
    <div cdkDropList id='1' #inProgressList="cdkDropList" [cdkDropListData]="inProgressTasks"
      [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of inProgressTasks" cdkDrag>
        <app-task-card [task]='task'></app-task-card>
      </div>
    </div>
  </div>

  <div class="col">
    <h2>Done</h2>
    <div cdkDropList id='2' #doneList="cdkDropList" [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="[inProgressList, todoList]" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let task of doneTasks" cdkDrag>
        <app-task-card [task]='task'></app-task-card>
      </div>
    </div>
  </div>
</div>
