<button mat-button (click)="openAddTaskDialog()">Add Task</button>

<div>
  <h2>To Do</h2>
  <div cdkDropList id='0' #todoList="cdkDropList" [cdkDropListData]="toDoTasks"
    [cdkDropListConnectedTo]="[inProgressList, doneList]" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of toDoTasks" cdkDrag>
      title: {{task.title}}, description: {{task.description}}
    </div>
  </div>
</div>

<div>
  <h2>In Progress</h2>
  <div cdkDropList id='1' #inProgressList="cdkDropList" [cdkDropListData]="inProgressTasks"
    [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of inProgressTasks" cdkDrag>
      title: {{task.title}}, description: {{task.description}}
    </div>
  </div>
</div>

<div>
  <h2>Done</h2>
  <div cdkDropList id='2' #doneList="cdkDropList" [cdkDropListData]="doneTasks"
    [cdkDropListConnectedTo]="[inProgressList, todoList]" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of doneTasks" cdkDrag>
      title: {{task.title}}, description: {{task.description}}
    </div>
  </div>
</div>
