<h1 mat-dialog-title>New Task</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field>
      <input matInput type="text" placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Description" matInput formControlName="description">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()" [disabled]="!taskForm.valid" tabindex="2">Add</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
